<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <title>Contacte-nos</title>
    </head>
    <body>
      <header>
        <a href="index.html"><img style="width: 200px; background-color: black;" src="images/FreeJobs_LettersLogo.png"></a>
        <input type="text"  placeholder="Search">
        <select>
          <option>Filters</option>
        </select>
        <a href="create-flipping.html" >Create Fliping</a>
        <a href="#myProfileMenu">My Profile</a>
        <div id="myProfileMenu" >
          <a href="create-profile.html">Sign in</a>
          <a href="#" >Log in</a>
        </div>
      </header>

      <h1>Contact us</h1>
      <section>
        <p>Telefone: +351 210 000 000</p>
      </section>

      <form>
        <label>Nome: <input type="text" name="nome"></label><br>
        <label>Email: <input type="email" name="email"></label><br>
        <label>Mensagem: <textarea name="mensagem"></textarea></label><br>
        <button type="submit">Enviar</button>
      </form>
    <footer>
      <p>Copyright © All rights reserved</p>
    </footer>
</body>
</html>
