<!DOCTYPE html>
<html>
    <body>

        <!-- Footer com todas as funcionalidades -->
         
        <footer th:fragment="footer-principal">
            <link th:href="@{/css/footer.css}" rel="stylesheet">
            <div class="footer-content">
                <span class="copyright">Copyright © Todos os direitos reservados</span>
                <a th:href="@{/contacto}" class="contact-link">
                    Contacte-nos
                    <img th:src="@{/imagens/TextBox.png}" alt="Contacte-nos" />
                </a>
            </div>
        </footer>
    </body>
</html>