footer {
  background-color: white;
  border-top: 2px solid #e0e0e0;
  width: 100%;
  padding: 20px 0;
  margin: 0;
  font-size: 14px;
  color: #737373;
}

.footer-content {
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative; 
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content .copyright {
  text-align: center;
}


.footer-content .contact-link {
  position: absolute;
  right: 40px; /* distance from right edge */
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #737373;
}

.footer-content .contact-link:hover {
  text-decoration: none;
  font-weight: bold;
}

.footer-content .contact-link img {
  width: 40px;
  background-color: transparent;
  margin-left: 5px;
}
