<!DOCTYPE html>
<html>
  <head th:replace="~{fragments/head :: head('FreeJobs')}">
  <body>

    <header th:replace="~{fragments/header-principal :: header-principal}"></header>

    <section>
      <p>Preço: €1000</p>
      <p>Descrição detalhada do anúncio...</p>
    </section>

    <section>
      <h2>Perfil do proprietário</h2>

      <!-- Por enquanto vai levar para o static perfil.html -->
      <a th:href="@{/perfil}">Ver perfil</a>
    </section>

    <section>
      <h2>Contactos do perfil</h2>
      <ul>
        <li>+351 900 000 000</li>
        <li>email@exemplo.com</li>
      </ul>
    </section>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

  </body>
</html>
