<!DOCTYPE html>
<html>
    <head th:replace="~{fragments/head :: head}"></head>
    <body>
      <header th:replace="~{fragments/header-principal :: header-principal}"></header>

      <h1>Contact us</h1>
      <section>
        <p>Telefone: +351 210 000 000</p>
      </section>

      <form>
        <label>Nome: <input type="text" name="nome"></label><br>
        <label>Email: <input type="email" name="email"></label><br>
        <label>Mensagem: <textarea name="mensagem" required></textarea></label><br>
        <button type="submit">Enviar</button>
      </form>

    <!-- footer unico -->
    <footer>
      <p>Copyright © Todos os direitos reservados</p>
    </footer>
</body>
</html>
