<!DOCTYPE html>
<html>
  <head th:replace="~{fragments/head :: head}"></head>
  <body>
    <header th:replace="~{fragments/headerSecundario :: headerSecundario}"></header>

    <form th:action="@{/criaranuncio}" th:object="${anuncio_dto}" method="post">
      <label>Título: <input autocomplete="off" type="text" th:field="*{nome_do_anuncio}" required></label><br> <!-- pode ter problema -->
      <label>Foto: <input type="file" th:field="*{foto_anuncio}"></label><br>
      <label>Preço: <input autocomplete="off" type="number" th:field="*{preco}" required></label><br>
      <label>Descrição: <textarea autocomplete="off" th:field="*{descricao}" ></textarea></label><br>
      <button type="submit">Enviar</button>
    </form>
    <footer th:replace="~{fragments/footerPrincipal :: footerPrincipal}"></footer>
  </body>
</html>
