<!-- apagar os styles das tags -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
    <head th:replace="~{fragments/head :: head}"></head>
    <body>
        <header th:replace="~{fragments/headerPrincipal :: headerPrincipal}"></header>
        <main>

            <!-- Temporario os links -->
            <div>
                <a th:href="@{/anuncio}">Anúncio</a>
            </div>
            <div>
                <a th:href="@{/anuncio}">Anúncio</a>
            </div>
            <div>
                <a th:href="@{/anuncio}">Anúncio</a>
            </div>
        </main>        
        <footer th:replace="~{fragments/footerPrincipal :: footerPrincipal}"></footer>

        <!-- JS query parameters -->
        <script th:if="${param.loginsucesso}">alert("Bem vindo de volta");</script>
        <script th:if="${param.logoutsucesso}">alert("Logout efetuado com sucesso");</script>

    </body>
</html>