<!DOCTYPE html>
<html>
<head th:replace="~{fragments/head :: head('FreeJobs - Login')}">


<body>
  <header th:replace="~{fragments/header-secundario :: header-secundario}"></header>
  
  <form th:action="@{/login}" method="post">
    <label>Email: <input autocomplete="off" type="email" name="email" required></label><br>
    <label>Senha: <input autocomplete="off" type="password" name="password" required></label><br>
    <button type="submit">Entrar</button>
    
  </form>
  
  <!-- JS temporário, depois vai pra um arquivo separado -->
  <script th:if="${param.errologin}">alert("Email ou password inexistente")</script>
  <script th:if="${sucessocriarperfil}"> alert("Perfil criado com sucesso!")</script>
  <script th:if="${loginnecessario}">alert("Para ter acesso a esse serviço é necessário fazer login")</script>

  <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>