<!DOCTYPE html>
<html>
    <head th:replace="~{fragments/head :: head}"></head>
    <body>
      <header th:replace="~{fragments/headerPrincipal :: headerPrincipal}"></header>

      <section>
        <form>
          <label>Nome de utilizador: <input type="text" name="username"></label><br>
          <label>Email: <input type="email" name="email"></label><br>
          <label>Senha: <input type="password" name="senha"></label><br>
          <label>Contacto primário: <input type="tel" name="contacto1"></label><br>
          <label>Contacto secundário: <input type="tel" name="contacto2"></label><br>
          <label>Contacto terciário: <input type="tel" name="contacto3"></label><br>
          <label>Foto de perfil: <input type="file" name="fotoPerfil"></label><br>
          <label>CV: <input type="file" name="cv"></label><br>
          <button type="submit">Guardar</button>
        </form>
      </section>
      
      <section>
        <h2>Anúncios publicados</h2>
        <article>
          <h3>Anúncio 1</h3>
          <p>Preço: €500</p>
        </article>
        <article>
          <h3>Anúncio 2</h3>
          <p>Preço: €200</p>
        </article>
      </section>
      <footer th:replace="~{fragments/footerPrincipal :: footerPrincipal}"></footer>
    </body>
</html>
