<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <title>O meu perfil</title>
    </head>
    <body>
      <header>
        <a th:href="@{/}"><img style="width: 200px; background-color: black;" src="imagens/FreeJobs_LettersLogo.png"></a>
        <input type="text"  placeholder="Search">

        <select>
          <option>All categories</option>
          </select>
          <a th:href="@{/criaranuncio}" >Criar anúncio</a>

          <!-- Por enquanto o My profile a tag vai enviar para o profile.html -->
          <a th:href="@{/perfil}">Meu perfil</a>
          <div id="myProfileMenu" >
            <a th:href="@{/criarperfil}">Criar conta</a>
            <a href="#" >Entrar</a>
          </div>
      </header>

      <section>
        <h2>Alterar perfil</h2>
        <form>
          <label>Nome de utilizador: <input type="text" name="username"></label><br>
          <label>Email: <input type="email" name="email"></label><br>
          <label>Senha: <input type="password" name="senha"></label><br>
          <label>Contacto primário: <input type="tel" name="contacto1"></label><br>
          <label>Contacto secundário: <input type="tel" name="contacto2"></label><br>
          <label>Contacto terciário: <input type="tel" name="contacto3"></label><br>
          <label>Foto de perfil: <input type="file" name="fotoPerfil"></label><br>
          <label>CV: <input type="file" name="cv"></label><br>
          <button type="submit">Guardar</button>
        </form>
      </section>
      
      <section>
        <h2>Anúncios publicados</h2>
        <article>
          <h3>Anúncio 1</h3>
          <p>Preço: €500</p>
        </article>
        <article>
          <h3>Anúncio 2</h3>
          <p>Preço: €200</p>
        </article>
      </section>
      <footer>
        <p>Copyright © Todos os direitos reservados</p>
        <a th:href="@{/contacto}" >Contacte-nos<img style="width: 50px; background-color: black;" src="imagens/TextBox.png" ></a>
      </footer>
    </body>
</html>
