<!DOCTYPE html>
<html lang="pt">
  <head th:replace="~{fragments/head :: head}"></head>
  <body>
    <header th:replace="~{fragments/header-principal :: header-principal}"></header>
    
    <h2>Anúncios de acordo com a pesquisa e com os filtros</h2>
    <section>
      <article>
        <h3>Título do anúncio</h3>
        <p>Descrição breve...</p>
        <p>Preço: €1000</p>
        <a th:href="@{/anuncio}">Ver anúncio</a>
      </article>
    </section>
    
    <footer th:replace="~{fragments/footer-principal :: footer-principal}"></footer>
  </body>
</html>