<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Pesquisa</title>
</head>
<body>
  <header>
    <a th:href="@{/}"><img style="width: 200px; background-color: black;" src="imagens/FreeJobs_LettersLogo.png"></a>
    <input type="text"  placeholder="Search">

    <select>
      <option>All categories</option>
      </select>
      <a th:href="@{/criaranuncio}" >Criar anúncio</a>

      <!-- Por enquanto o My profile a tag vai enviar para o profile.html -->
      <a th:href="@{/perfil}">Meu perfil</a>
      <div id="myProfileMenu" >
        <a th:href="@{/criarperfil}">Criar conta</a>
        <a th:href="@{/login}" >Entrar</a>
      </div>
  </header>

  <h2>Anúncios de acordo com a pesquisa e com os filtros</h2>
  <section>
    <article>
      <h3>Título do anúncio</h3>
      <p>Descrição breve...</p>
      <p>Preço: €1000</p>
      <a th:href="@{/anuncio}">Ver anúncio</a>
    </article>
  </section>
</body>
</html>